@model TSS.Models.Usuario

@{
    ViewBag.Title = "Registro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="mt-5">
    <section id="contentSingUp" class="vh-100 bg-image classedorere">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card shadow-lg border-1" style="border-radius: 15px;">
                            <div class="card-body p-5">
                                <h2 class="text-uppercase text-center mb-5">Registrar</h2>
                                <form asp-action="Register" method="post" onsubmit="return validarFormulario()">
                                    <div class="form-outline mb-4">
                                        <label class="form-label shadow-none" for="nome">Nome</label>
                                        <input type="text" id="nome" name="Nome" class="form-control form-control-lg" required />
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label shadow-none" for="email">Seu Email</label>
                                        <input type="email" id="email" name="Email" class="form-control form-control-lg" required />
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label shadow-none" for="senha">Senha</label>
                                        <input type="password" id="senha" name="Senha" class="form-control form-control-lg" required minlength="6" />
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label shadow-none" for="dtnasc">Data de Nascimento</label>
                                        <input type="date" id="dtnasc" name="Dtnasc" class="form-control form-control-lg" required />
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label shadow-none" for="cpf_cnpj">CPF/CNPJ</label>
                                        <div class="d-flex mb-2">
                                            <button type="button" id="cpfBtn" class="btn btn-outline-primary me-2">CPF</button>
                                            <button type="button" id="cnpjBtn" class="btn btn-outline-primary">CNPJ</button>
                                        </div>
                                        <input type="text" id="cpf_cnpj" name="CPF_CNPJ" class="form-control form-control-lg" required />
                                        <div id="cpfCnpjError" class="text-danger mt-2" style="display: none;"></div> <!-- Div para exibir erros -->
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label shadow-none" for="telefone">Telefone</label>
                                        <input type="tel" id="telefone" name="Telefone" class="form-control form-control-lg" required />
                                    </div>
                                    
                                    @if (ViewBag.ErrorMessage != null)
                                    {
                                        <div class="alert alert-danger" role="alert">
                                            @ViewBag.ErrorMessage
                                        </div>
                                    }

                                    <div class="d-flex justify-content-center">
                                        <button type="submit" class="btn btn-success btn-block btn-lg text-white">
                                            Registrar
                                        </button>
                                    </div>

                                    <p class="text-center text-muted mt-5 mb-0">
                                        Já tem uma conta? <a href="@Url.Action("Login", "Conta")" class="fw-bold text-body"><u>Faça o login</u></a>
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<footer class="mt-5">
    <div class="footerContainer align-items-center">
        <div class="localizaCenter d-flex text-center">
            <img class="logofooter" src="~/img/logo.png" alt="">
            <div class="localizaFooter d-flex align-items-center justify-content-center">
                <img class="localizaImg" src="~/img/localizaPing.png" alt="">
                <div class="paragrafos flex-column">
                    <p class="border-bottom border-3">
                        Endereço: Avenida Marechal Tito, 1500 <br>
                        <nobr>São Miguel Paulista, São Paulo SP, 08010-090</nobr>
                    </p>
                    <div>
                        <a href="">Clique aqui para ver no mapa!</a>
                    </div>
                </div>
            </div>
        </div>
        <img class="robson position-absolute bottom-0 right-0 img-fluid" src="~/img/robson.png" alt="">
    </div>
</footer>

<style>
    .classedorere {
        margin: 10em 0;
    }
</style>