@model TSS.Models.Servico

@{
    Layout = "~/Views/Shared/_LayoutAdm.cshtml";
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Servico</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Dtini" class="control-label">Data Início</label>
                <input asp-for="Dtini" class="form-control" />
                <span asp-validation-for="Dtini" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dtfim" class="control-label">Data Fim</label>
                <input asp-for="Dtfim" class="form-control" />
                <span asp-validation-for="Dtfim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label">Descrição</label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario_Id" class="control-label">Usuário</label> <!-- Alterado para "Usuário" -->
                <select asp-for="Usuario_Id" class="form-control" asp-items="ViewBag.Usuario_Id"></select>
                <span asp-validation-for="Usuario_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tiposervico_Id" class="control-label">Tipo Serviço</label> <!-- Alterado para "Tipo Serviço" -->
                <select asp-for="Tiposervico_Id" class="form-control" asp-items="ViewBag.Tiposervico_Id"></select>
                <span asp-validation-for="Tiposervico_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status_Id" class="control-label">Status</label>
                <select asp-for="Status_Id" class="form-control" asp-items="ViewBag.Status_Id"></select>
                <span asp-validation-for="Status_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
